* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}






.main-header {
    background-image: url("../img/header.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;   
}


.main-header-content {
    background-color: #000000;
    height: 15vh;
    width: 100vw;
    opacity: .7; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 3.5vw;
    position: sticky;
    top: 0;
}


.main-header-content h1 {
    font-size: .6em;
    color: #fca80b;
    margin: 0 .7vw 0 1.7vw;
}

.main-header-content .fas {
    font-size: .6em;
}


.main-header-content form {
    position: fixed;
    right: 1.7vw;
}


.main-header-content form input[type="email"], .main-header-content form input[type="text"] {
    border-radius: 3px;
    border: 2px solid #f2f1ed;
    width: 12vw;
    height: 4vh;
    margin: .5vw;
    padding: 10px;
    
}


.main-header-content form .btn[type="submit"] {
    width: 6vw;
    height: 4vh;
    border-radius: 3px;
    background-color: #fca80b;
    border: 1px solid #f2f1ed;
    font-weight: bold;
    font-size: 0.3em;
    padding: 0;
}





.container {
    height: 14vh;
    top: 25vh;
    font-size: 2vw;
}

.container, .registration-form {
    width: 32vw;
    background-color: #000000;
    opacity: .7;
    border: 1px solid #f2f1ed;
    position: absolute;
    right: 1.7vw;
}

.container h2, p {
    color: #fca80b;
    margin: 1vh 1.1vw;
}

.container h2 {
    font-size: 1em;
}

.container p {
    font-size: .7em;
}


.registration-form {
    /* height: 50vh; */
    top: 39vh;
    font-size: 1vw;
}



.registration-form form {
    max-width: 100%;
	margin: 15px auto 15px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.registration-form form input:not([type="submit"]) {
    flex-basis: 40%;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 2px solid #f2f1ed;
    padding: 10px;
}



.registration-form form textarea {
    /* flex-basis: 90%; */
    width: 29.5vw;
    height: 15vh;
    border-radius: 3px;
    margin: 5px auto 15px auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
   
}



.registration-form form label {
    color: #fca80b;
    padding: 0;
    width: 100%;
    flex-basis: 92%;
    margin-bottom: 10px; 
}

.registration-form form input[type="checkbox"] {
    width: 15px;
}



 .registration-form form input[type="submit"] {
    flex-basis: 22%;
    width: 6vw;
    height: 4vh;
    border-radius: 3px;
    background-color: #fca80b;
    border: 1px solid #f2f1ed;
    font-weight: bold;
}




#footer {
    height: 6vh;
    width: 100vw;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}